<div class="d-flex mt-4">
  <h4 class="title">Carrinho</h4>
</div>
<p class="ml-3 subtitle">Tabela com os produtos cadastrados no carrinho</p>
<div *ngIf="data.length > 0; else desc">
  <app-table [columns]="columns" [data]="data"></app-table>
  <div>
    <button class="btn btn-danger mt-3" type="button" (click)="handleErase()">
      Limpar Carrinho
    </button>
    <button
      class="btn btn-success float-right mt-3"
      type="button"
      (click)="handlePurchase()"
    >
      Comprar
    </button>
  </div>
</div>
<ng-template #desc>
  <p>Nenhum produto no carrinho!</p>
</ng-template>
